/* General Page Style */
/* Apply a fade-in effect when the page loads */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease-in; /* 1 second fade-in animation */
}

/* Header Style with Organic Shape and Gradient */
header {
    background: black;
    color: white;
    padding: 25px 0 50px; /* Reduced padding for smaller header */
    text-align: center;
    position: static;
    z-index: 1;
    display: inline-block;
}

header h1 {
    margin-top: 1%;
    font-size: 2.5em; /* Reduced font size for smaller header */
    letter-spacing: 2px;
    font-family: Arial;
    padding-bottom: 10px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white; /* Adjusted link color */
    text-decoration: none;
    font-size: 1.3em;
    transition: font-size 0.2s ease;
}

nav ul li a:hover {
    color: white;
    font-size: 1.5em;
}

/* Main Section Style */
main {
    max-width: 100%;
    margin: auto;
    flex-grow: 1; /* Makes the main content fill remaining vertical space */
    text-align: center;
}

main p {
    text-align: center;
    padding: 0 15%;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

portrait img {
    width: 15%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    float: right; /* Float the image to the right */
    margin-left: 2.5%; /* Add space between the image and the text */
    margin-right: 20%;
    margin-bottom: 1.5%;
    pointer-events: none; /* Prevent interaction with the image */
}

design {
    text-align: center;
    display: inline-block;
    margin: 1%;
}

design img {
    pointer-events: none;
    max-height: 250px;
    object-fit: contain;
}

.scrollable-content {
    height: 100%; /* Set a height for scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */
    justify-content: space-between; /* Push footer to the bottom */
}

.scrollable-content::-webkit-scrollbar {
    width: 20px;
}

.scrollable-content::-webkit-scrollbar-track {
    background-repeat: no-repeat;
    background-color: lightgray;
    background-image: url("pictures/DNA.png");
    background-size: cover;
}


.scrollable-content::-webkit-scrollbar-thumb {
    background-size: contain;
    background-color: darkgray;
    background-image: url("pictures/enzyme.png");
    background-size: cover;
}


/* Section Titles */
h2 {
    clear: both;
    color: #1b4332; /* Adjusted section title color */
    font-size: 2.2em;
    margin-bottom: 1%;
    text-align: center;
    background: linear-gradient(135deg, #00a3b2, #b7df66); /* Gradient heading */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    clear: both;
    color: #1b4332; /* Adjusted section title color */
    font-size: 2.2em;
    margin: 0 auto;
    margin-top: 2.5%;
    margin-bottom: 1%;
    text-align: center;
    background: linear-gradient(135deg, #00a3b2, #b7df66); /* Gradient heading */
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 15%;
}

/* Unordered Lists */
ul {
    padding-left: 20px;
    list-style-type: circle;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0px;
    background: black;
    width: 100%; /* Full width */
}

footer p {
    color: white;
    margin-right: 5%;
    text-align: right;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 20px;
    }

    form {
        width: 100%;
    }
}
